.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product{
    height: 510px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-name{
    font-family: 'lota';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    font-style: normal;
    margin-top: 7px;
}
.product-info{
    margin: 0px 14px;
}
.product-info p{
    margin-bottom: 0 ;
    margin-top: 5px;
}
.button-cart{
    width: 100%;
    background: #FFE0B3;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    border: none;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cart:hover{
    background: orange;
}